/* Coolors Exported Palette - https://coolors.co/2f4858-33658a-86bbd8-f6ae2d-f26419 */

/* CSS HEX */
--charcoal: #2f4858ff;
--queen-blue: #33658aff;
--dark-sky-blue: #86bbd8ff;
--honey-yellow: #f6ae2dff;
--orange-red: #f26419ff;

/* CSS HSL */
--charcoal: hsla(203, 30%, 26%, 1);
--queen-blue: hsla(206, 46%, 37%, 1);
--dark-sky-blue: hsla(201, 51%, 69%, 1);
--honey-yellow: hsla(39, 92%, 57%, 1);
--orange-red: hsla(21, 89%, 52%, 1);

/* SCSS HEX */
$charcoal: #2f4858ff;
$queen-blue: #33658aff;
$dark-sky-blue: #86bbd8ff;
$honey-yellow: #f6ae2dff;
$orange-red: #f26419ff;

/* SCSS HSL */
$charcoal: hsla(203, 30%, 26%, 1);
$queen-blue: hsla(206, 46%, 37%, 1);
$dark-sky-blue: hsla(201, 51%, 69%, 1);
$honey-yellow: hsla(39, 92%, 57%, 1);
$orange-red: hsla(21, 89%, 52%, 1);

/* SCSS RGB */
$charcoal: rgba(47, 72, 88, 1);
$queen-blue: rgba(51, 101, 138, 1);
$dark-sky-blue: rgba(134, 187, 216, 1);
$honey-yellow: rgba(246, 174, 45, 1);
$orange-red: rgba(242, 100, 25, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2f4858ff, #33658aff, #86bbd8ff, #f6ae2dff, #f26419ff);
$gradient-right: linear-gradient(90deg, #2f4858ff, #33658aff, #86bbd8ff, #f6ae2dff, #f26419ff);
$gradient-bottom: linear-gradient(180deg, #2f4858ff, #33658aff, #86bbd8ff, #f6ae2dff, #f26419ff);
$gradient-left: linear-gradient(270deg, #2f4858ff, #33658aff, #86bbd8ff, #f6ae2dff, #f26419ff);
$gradient-top-right: linear-gradient(45deg, #2f4858ff, #33658aff, #86bbd8ff, #f6ae2dff, #f26419ff);
$gradient-bottom-right: linear-gradient(135deg, #2f4858ff, #33658aff, #86bbd8ff, #f6ae2dff, #f26419ff);
$gradient-top-left: linear-gradient(225deg, #2f4858ff, #33658aff, #86bbd8ff, #f6ae2dff, #f26419ff);
$gradient-bottom-left: linear-gradient(315deg, #2f4858ff, #33658aff, #86bbd8ff, #f6ae2dff, #f26419ff);
$gradient-radial: radial-gradient(#2f4858ff, #33658aff, #86bbd8ff, #f6ae2dff, #f26419ff);