@use '../../scss/variables';

@mixin QContainer($height: 100px, $border: solid 1px #ccc, $display: flex, $align-item: center) {
    display: $display;
    border-bottom:$border;
    height: $height;
    align-items: $align-item;
}

.add-question-container{
    @include QContainer($height:50px);
}
