@use '../../scss/variables';

@mixin QContainer($border: solid 1px #ccc, $display: flex, $align-item: center) {
    display: $display;
    align-items: $align-item;
    justify-content: center;
}

.add-question-container{
    @include QContainer();
    .search-box{
        box-sizing: border-box;
        width:35rem
    }
    text-align: center;
}
