$appBorder: solid 1px #000;
$contentPadding: 1rem 1rem;

.main-body {
  display: flex;

  .left-content {
    // border: $appBorder;
    width: auto;
    padding: $contentPadding;
  }

  .right-content {
    // border: $appBorder;
    margin-left: auto;
    margin-right: 0;
    width: 20%;
    padding: $contentPadding;
  }
}
