@import '../../scss/breakpoints';
@import '../../scss/variables';

.app-heading {  
  background-color: #fff;
  padding: 1rem 2.5rem 2rem 3rem;
  color: $app-text-color;
  display: flex;
  position: fixed;
  top: 0px;
  left:0;
  width: 100%;
  // border-bottom:solid 1px $mandarin;
  z-index: 1;
  box-shadow: 0 0px 9px -3px grey;

  h1{
    color: $orange-red;
    // font-family: 'Bree Serif', serif;
    font-family: 'Pacifico', cursive;
    // font-family: 'Rokkitt', serif;
   
    @include sm {
      font-size: 6.5rem;
    }

    @include xl {
      font-size: 2.5rem;
    }

  }
  h2{
    color: $space-cadet;
    // font-size: 1.1rem;
  }
  .homeNav{
    text-decoration: none;
  }
  .app-heading-menu{
    margin-right: 2rem;
    vertical-align: bottom;
    margin-left: auto;
    align-self: flex-end;
    padding-right: 2.5rem;
    span{
      margin: 0 1rem;
    }
  }
  NavLink{
    color: $mandarin;
  }
}

.appHeader{
  .header-tags{
    @include sm {
      display: block;
      visibility: visible;
      text-align: center;
      margin-top: 19rem;
    }

    @include xl {
      display: none;
      visibility: hidden;
      text-align: center;
     }
  }
}

