.q-section {
  margin-bottom: 2rem;
  h3 {
    word-wrap: break-word;
    word-break: break-all;
  }
  p {
    word-wrap: break-word;
  }
  .code-block {
    min-width: 300px;
    min-height: 100px;
    border: none;
    background-color: #ffffd3;
    padding: 0.7rem;
  }
}
