@import "../../scss/variables";

.tec-tags {
  display: inline-block;
  padding: 0.6rem;
  background-color: $mandarin;
  border-radius: 5px;
  font-weight: 500;
  &:hover {
    background-color: $silver;
    cursor: pointer;
  }
}

.active-tag{
  background-color: $silver !important;
}
