@import '../scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  font-family: $app-font-family;
  color: $app-text-color;
  h3,
  h2 {
    font-family: $app-font-family;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' -25,
      'opsz' 40
  }

}

.btn-primary {
  background-color: #003049ff;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
}

/* INPUT CLASS GENERATION "PRIMARY, SECONDARY, TERETORY */

@mixin appInput($border: solid 1px #ccc, $padding: 10px, $bgColor: #fff) {
  border: $border;
  padding: $padding;
  background-color: $bgColor;
}

$inputHolder: ("primary","secondary","teretory");

@each $var in $inputHolder {
  .input-#{$var}{
    @if $var == "primary" {
      @include appInput()
    } @else if $var == "secondary" {
      @include appInput(solid 1px green, 10px,green)
    }@else if $var == "teretory" {
      @include appInput(solid 1px red, 10px,red)
    }@else{
      @include appInput()
    }
  }
}
