$app-primary-color: #f79256;
$app-secondary-color: #fbd1a2;
$app-text-color: #3e2723;

$app-font-family: 'Roboto', sans-serif;
$app-font-weight: 300;
$app-font-style: normal;
$app-font-size: medium;

$app-viewpoer1200-margin: 8rem;
