/* Current variables */
$app-font-family: 'Lato', sans-serif;
$app-primary-color: #f79256;
$app-secondary-color: #fbd1a2;
$app-text-color: #003049ff;
$app-viewpoer1200-margin: 9rem;
$app-header-bg: #faedcd;

// New Variables
$prussian-blue: #003049ff;
$maximum-red: #d62828ff;
$orange: #f77f00ff;
$maximum-yellow-red: #fcbf49ff;
$lemon-meringue: #eae2b7ff;
$app-padding: 5px;
$app-margin: 5px;

$space-cadet: #2d3142ff;
$silver: #bfc0c0ff;
$white: #ffffffff;
$mandarin: #ef8354ff;
$black-coral: #4f5d75ff;



@mixin btnPrimary {
    background-color: #003049ff;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
  }